#img-bg{
    background-image: url("https://i.pinimg.com/originals/f2/5d/b9/f25db99d83f69b7d79f1ac58de6eedd4.jpg");
    min-height: 907px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}